# Portfolio assignment 8
15 min: 
- Calculate the 90%, 95%, 99% and 99.99% confidence interval for at least 2 columns with numerical data in the dataset that you chose in portfolio assignment 4. Do you see the impact the confidence has on the interval?
- Now calculate the 95% confidence interval again but use only the first 10% of your rows. Compare this interval to the previous 95% confidence interval you calculated. Do you see the impact of having less data?

In [13]:
import pandas as pd
pd.options.mode.chained_assignment = None
import scipy.stats as st

In [14]:
data = pd.read_csv('4.data.txt')
data.head()

,name,age,gender,raceethnicity,month,day,year,streetaddress,city,state,...,share_hispanic,p_income,h_income,county_income,comp_income,county_bucket,nat_bucket,pov,urate,college
0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,...,5.6,28375,51367.0,54766,0.937936,3.0,3.0,14.1,0.097686,0.168510
1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,...,0.5,14678,27972.0,40930,0.683411,2.0,1.0,28.8,0.065724,0.111402
2,Aaron Siler,26,Male,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,...,16.8,25286,45365.0,54930,0.825869,2.0,3.0,14.6,0.166293,0.147312
3,Aaron Valdez,25,Male,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,...,98.8,17194,48295.0,55909,0.863814,3.0,3.0,11.7,0.124827,0.050133
4,Adam Jovicic,29,Male,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,...,1.7,33954,68785.0,49669,1.384868,5.0,4.0,1.9,0.063550,0.403954

## Confidence Interval: Age

In [15]:
agedata = data[data.age != 'Unknown'];
agedata['age'] = agedata['age'].astype(float)

### 90%: 36.37  - 38.36

In [16]:
st.t.interval(0.90, len(agedata)-1, loc=agedata['age'].mean(), scale=st.sem(agedata['age']))

(36.37163665689078, 38.36270459580899)

### 95%: 36.18 - 38.55

In [17]:
st.t.interval(0.95, len(agedata)-1, loc=agedata['age'].mean(), scale=st.sem(agedata['age']))

(36.18018783364364, 38.554153419056135)

### 99%: 35.80 - 38.93

In [18]:
st.t.interval(0.99, len(agedata)-1, loc=agedata['age'].mean(), scale=st.sem(agedata['age']))

(35.80484439152542, 38.92949686117436)

### 99.99%: 35.00 - 39.74

In [19]:
st.t.interval(0.9999, len(agedata) - 1, loc=agedata['age'].mean(), scale=st.sem(agedata['age']))

(34.99646313909452, 39.737878113605255)

With a higher Confidence Level the Interval gets a broader range.

## Confidence Interval: Poverty Rate

In [20]:
povdata = data[data.pov != '-']
povdata['pov'] = povdata['pov'].astype(float)

### 90%: 20.10 - 22.12

In [24]:
st.t.interval(0.90, len(povdata)-1, loc=povdata['pov'].mean(), scale=st.sem(povdata['pov']))

(20.101505769328575, 22.121720037123033)

### 95%: 19.91 - 22.32

In [26]:
st.t.interval(0.95, len(povdata) - 1, loc=povdata['pov'].mean(), scale=st.sem(povdata['pov']))

(19.907257618870826, 22.315968187580783)

### 99%: 19.53 - 22.70

In [32]:
st.t.interval(0.99, len(povdata) - 1, loc=povdata['pov'].mean(), scale=st.sem(povdata['pov']))

(19.526431095667494, 22.696794710784115)

### 99.99%: 20.10 - 22.12

In [33]:
st.t.interval(0.9999, len(povdata) - 1, loc=povdata['pov'].mean(), scale=st.sem(povdata['pov']))

(18.706272036036896, 23.516953770414712)

Here we see exactly the same pattern as with age. The higher the confidence level, the more space we get between the upper and lower bound. We expect a higher percentage of samples to fall between those numbers, so with a higher confidence level we invariably create a broader range.

## Confidence Interval with less data

In [52]:
povdata.shape

(465, 34)

We have 467 rows, so we will only select the first 47 rows from the dataframe.

In [53]:
subdata = povdata.head(47)
subdata.shape

(47, 34)

### With 100% of data:

In [54]:
st.t.interval(0.95, len(povdata) - 1, loc=povdata['pov'].mean(), scale=st.sem(povdata['pov']))

(19.907257618870826, 22.315968187580783)

### With 10% of data:

In [55]:
st.t.interval(0.95, len(subdata) - 1, loc=subdata['pov'].mean(), scale=st.sem(subdata['pov']))

(18.004302130895052, 25.561655315913452)

The range get broader with less data. This is not surprising because with less data we can't be as sure if this data represents the whole population.